a {
  outline: none;
  text-decoration: none;
  color: none;
}

.problem {
  grid-area: problem;
}

.solution {
  grid-area: solution;
}

.keyMetrics {
  grid-area: key-metrics;
}

.uniqueValueProp {
  grid-area: unique-value-prop;
}

.unfairAdvantages {
  grid-area: unfair-advantages;
}

.channels {
  grid-area: channels;
}

.customerSegments {
  grid-area: customer-segments;
}

.costStructure {
  grid-area: cost-structure;
}

.revenueStreams {
  grid-area: revenue-streams;
}
