a {
  outline: none;
  text-decoration: none;
  color: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:focus {
  border-color: blue;
}

a:hover {
  border-color: blue;
}

.problem {
  grid-area: problem;
}

.solution {
  grid-area: solution;
}

.key-metrics {
  grid-area: key-metrics;
}

.unique-value-prop {
  grid-area: unique-value-prop;
}

.unfair-advantages {
  grid-area: unfair-advantages;
}

.channels {
  grid-area: channels;
}

.customer-segments {
  grid-area: customer-segments;
}

.cost-structure {
  grid-area: cost-structure;
}

.revenue-streams {
  grid-area: revenue-streams;
}

.canvas {
  background-color: white;
  border: solid;
  padding: 10px;
}

.canvas .title {
  text-transform: uppercase;
  font-weight: 800;
}

.canvas .list {
  margin-top: 5px;
}

.canvas ul {
  display: flex;
  list-style-type: none;
}

.canvas ul li {
  background-color: rgb(245, 210, 11);
  color: #000;
  font-size: large;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
